
        <div class="text-center">

          <div class = "col-md-1 col-sm-3"></div>

            <div class="col-md-3 col-sm-6 ">
                <div class="thumbnail">
                    <!-- <img src="/images/edu.jpg" alt=""> -->
                    <%= image_tag("pyhton.jpg", :alt => "") %>
                    <div class="site-heading">
                        <h3>Python</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <%= link_to "See posts", out_path(:option => "Python")%>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 ">
                <div class="thumbnail">
                    <%= image_tag("php.jpg", :alt => "") %>
                    <div class="site-heading">
                        <h3>Php</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <%= link_to "See posts", out_path(:option => "Php")%>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 ">
                <div class="thumbnail">
                    <a href = "#"><%= image_tag("ruby.jpg", :alt => "") %>
                    <div class="site-heading">
                        <h3>Ruby</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p></a>
                            <%= link_to "See posts", out_path(:option => "Ruby")%> 
                        </p>
                    </div>
                </div>
            </div>

            
        
    </div>

